.footer {
    background-image: url(./GroupBackground.png);
    max-width: 600px;
    margin: 0 auto;
}

.footer__icons-main {
    display: flex;
    gap: 34px;
    max-width: 246px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer__icons-PerconalPage {
    display: flex;
    gap: 34px;
    max-width: 246px;
    margin: 0 auto;
    padding-bottom: 39px;
}



